:root {
  --default-ff: "Inter", sans-serif;
  --default-fz: 18px;
  --default-fw: 400;
  --default-lh: 1.4;
  --default-color: #373737;
  --default-page-bc: #fff;
  --grid-padding: 15px;
  --screen-width: 1920px;
  --header-height: 160px;
  @media (max-width: 1024px) {
    --header-height: 92px;
  }
  @media (max-width: 768px) {
    --header-height: 82px;
  }
  @media (max-width: 480px) {
    --header-height: 88px;
  }

  --white: #fff;
  --dark: #373737;
  --blue: #107eed;
  --gray: #717171;

  --white-05: rgba(255, 255, 255, 0.5);

  --button-primary: #107eed;

  --line-color: rgba(192, 192, 192, 0.1);

  --hover-main-button: #1c6ed5;
}
