.footer {
  color: var(--white);
  &__top {
    background-color: #132436;
    &-inner {
      padding-block: 64px;
      @media (max-width: 480px) {
        padding-block: 32px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255,0.09);
    margin-bottom: 48px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 720px) {
      gap: 20px;
    }
    @media (max-width: 480px) {
      padding-bottom: 0;
      margin-bottom: 30px;
      gap: 25px;
      border: none;
    }
    &-wrapper {
      max-width: 600px;
      width: 100%;
    }
  }
  &__logo {
    margin-bottom: 24px;
    @media (max-width: 480px) {
      max-width: 108px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 1.4;
  }
  &__presentation {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px;
    max-width: 450px;
    width: 100%;
    transition: 0.5s;
    border-radius: 60px;
    border: 1px solid rgba(192, 192, 192, 0.2);
    @media (max-width: 1024px) {
      font-size: 14px;
      height: 65px;
      max-width: 300px;
    }
    @media (max-width: 720px) {
      height: 60px;
      max-width: 280px;
    }
    &-icon {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @media (max-width: 1024px) {
        width: 40px;
        height: 40px;
      }
    }
    &-text {
      margin: 0 auto;
    }
    @media (hover: hover) {
      &:hover {
        background-color: var(--button-primary);
      }
    }
  }
  &__navs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 30px;
    }
    @media (max-width: 720px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
  }
  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media (max-width: 480px) {
        gap: 24px;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-link {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &-sublist {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 480px) {
        gap: 12px;
      }
    }
    &-sublink {
      font-size: 15px;
      line-height: 1.58;
      color: #a6a6a6;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 426px;
    width: 100%;
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  &__contact {
    &-box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 16px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    }
    &-left {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-label {
      font-size: 12px;
      font-weight: 400;
      color: var(--white-05);
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
    }
    &-service {
      font-size: 14px;
      text-transform: uppercase;
      flex-shrink: 0;
    }
  }
  &__bottom {
    background-color: #0D1B2B;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 24px;
      @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
      }
      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--white-05);
    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &.map {
      margin-right: 20px;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }
    &.privacy-policy {
      margin-right: 20px;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }
    &.copyright {
      margin-left: auto;
      @media (max-width: 1024px) {
        margin-left: 0;
        grid-column: span 3;
      }
      @media (max-width: 640px) {
        grid-column: initial;
      }
    }
  }
}
