.footer {
  color: var(--white);
  &__top {
    background-color: #252525;
    &-inner {
      display: flex;
      justify-content: space-between;
      padding-block: 64px;
      @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
      }
      @media (max-width: 600px) {
        gap: 32px;
      }
      @media (max-width: 480px) {
        padding-block: 32px;
      }
    }
  }
  &__content {
    max-width: 450px;
    margin-right: auto;
    @media (max-width: 1024px) {
      margin-right: 0;
      max-width: 100%;
    }
  }
  &__logo {
    margin-bottom: 24px;
    @media (max-width: 480px) {
      max-width: 108px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  &__presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    height: 48px;
    padding-inline: 24px;
    border-radius: 60px;
    max-width: max-content;
    transition: 0.5s;
    @media (hover: hover) {
      &:hover {
        background-color: var(--button-primary);
      }
    }
  }
  &__navs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 682px;
    margin-inline: 20px;
    @media (max-width: 1024px) {
      margin-inline: 0;
      max-width: 100%;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media (max-width: 480px) {
        gap: 24px;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-link {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &-sublist {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 480px) {
        gap: 12px;
      }
    }
    &-sublink {
      font-size: 15px;
      line-height: 1.58;
      color: #a6a6a6;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 426px;
    width: 100%;
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  &__contact {
    &-box {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 16px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    }
    &-left {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-label {
      font-size: 12px;
      font-weight: 400;
      color: var(--white-05);
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
    }
    &-service {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  &__bottom {
    background-color: #212121;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 24px;
      @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
      }
      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--white-05);
    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &.map {
      margin-right: 20px;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }
    &.privacy-policy {
      margin-right: 20px;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }
    &.copyright {
      margin-left: auto;
      @media (max-width: 1024px) {
        margin-left: 0;
        grid-column: span 3;
      }
      @media (max-width: 640px) {
        grid-column: initial;
      }
    }
  }
}
