.mobile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background-color: var(--white);
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  &.is-open {
    visibility: visible;
    opacity: 1;
    @media (min-width: 1025px) {
      visibility: hidden;
      opacity: 0;
    }
  }
  &__overlay {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    min-height: 100%;
    padding: 25px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(188, 171, 171);
    padding: 24px 0;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }
  &__close {
    width: 24px;
    height: 24px;
    background-color: var(--white);
    transform: rotate(45deg);
    cursor: pointer;
    @media (max-width: 480px) {
      width: 18px;
      height: 18px;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: var(--dark);
      transform: translate(-50%, -50%);
      border-radius: 32px;
      &:last-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__list {
    width: 100%;
    &.list {
      margin-bottom: 20px;
    }
  }
  &__box {
    padding: 5px 0;
    &.is-open {
      padding: 5px 0 0;
      > .mobile-modal__head {
        .mobile-modal__link {
          color: var(--blue);
        }

        .mobile-modal__arrow {
          transform: rotate(225deg);
          color: var(--blue);
        }
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  &__wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  &__content {
    margin-left: 15px;
  }
  &__link {
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
    @media (max-width: 1024px) {
      font-size: 22px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  &__arrow {
    flex-shrink: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    color: var(--dark);
    transition: 0.5s;
    margin-right: 5px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__actions {
    display: none;
    gap: 15px;
    @media (max-width: 480px) {
      display: flex;
      margin-bottom: 10px;
    }
  }
  &__mail,
  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--blue);
    @media (max-width: 480px) {
      width: 40px;
      height: 40px;
    }
    svg {
      height: 20px;
      width: 20px;
      path {
        fill: var(--white);
      }
    }
  }
  &__buttons {
    display: none;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    width: 100%;
    @media (max-width: 864px) {
      display: grid;
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__download,
  &__button {
    max-width: 100%;
    text-align: center;
  }
}
