.service-solutions {
  &__inner {
    display: flex;
    flex-direction: column;
    &.centered {
      align-items: center;
      @media (max-width: 768px) {
        align-items: flex-start;
      }
    }
  }
  &__title {
    &.centered {
      text-align: center;
      @media (max-width: 768px) {
        text-align: left;
      }
    }
  }
  &__text {
    max-width: 796px;
    &.centered {
      text-align: center;
      @media (max-width: 768px) {
        text-align: left;
      }
    }
  }
}
